$mediumwhite: #fff;
$lightgray: #dadfea;
$darkblack: #000;
$mediumorange: #FB8500;
$titlesize: 50px;
$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$paddingsize: 20px;
$bigpad: 100px;
$large-window: 1024px;
$medium-window: 860px;
$small-window: 600px;